$theme-colors: (
  'primary': #0F2347,
  'primary2': #80C271,
  'secondary': #badfc4,
  'success': #1ce1ac,
  'info': #ff7d50,
  'warning': #ffbe0b,
  'danger': #ff007f,
  'light': #ffffff,
  'dark': #001738,
);

@import '/node_modules/bootstrap/scss/bootstrap.scss';


$primary : #001738;

.nav.nav-pills .nav-link {
  .nav-link{
    color:#1ce1ac;
  }
}

.nav.nav-tabs .nav-link.active {
  background-color: $primary;
}

.nav.nav-pills .nav-link.active{
  background-color: $primary !important;
  color:#fff !important;
  .nav-link{
    color: #1ce1ac !important;
  }
}

#float-right-button{
  display: block !important;
  float: right !important;
}

@media (max-width: 736px) {
  #contact-us{
    width:100%;
    #float-right-button{
      width:75% !important;
      margin: 0 auto !important;
    }
    // .nav-link{
    //   margin:0% 10%;
    //   padding: 2%;
    // }
  }
}

.footer{
  background:#06132b;
  padding:30px 0px;
  font-family: 'Play', sans-serif;
  text-align:center;
}

.footer .row{
  width:100%;
  margin:1% 0%;
  padding:0.6% 0%;
  color:gray;
  font-size:0.8em;
}

.footer .row a{
  text-decoration:none;
  color:gray;
  transition:0.5s;
}

.footer .row a:hover{
  color:#fff;
}

.footer .row ul{
  width:100%;
}

.footer .row ul li{
  display:inline-block;
  margin:0px 30px;
}

.footer .row a i{
  font-size:2em;
  margin:0% 1%;
}

@media (max-width:720px){
  .footer{
    text-align:left;
    padding:5%;
  }
  .footer .row ul li{
    display:block;
    margin:10px 0px;
    text-align:left;
  }
  .footer .row a i{
    margin:0% 3%;
  }
}

.gradient-text{
  background: #001738;
  background: linear-gradient(to right, #001738 0%, #1ce1ac 100%);
  background: -webkit-linear-gradient(to right, #001738 0%, #1ce1ac 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-map{
  background-image: url('/bg-img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}